html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn {
  color: #005e76;
  border-color: #8bc9d9;
}

.btn-ghost:hover {
  color: #0084a6;
  border-color: #005e76;
  background-color: #8bc9d9;
}

nav {
  color: #8bc9d9;
}

nav:hover {
  color: #005e76;
}

footer {
  color: #e2e2e2;
}

#000
#e2e2e2
#8bc9d9
#0084a6
#005e76

@media only screen and (min-width: 60em) {

}
