html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn {
  color: #005e76;
  border-color: #8bc9d9;
}

.btn-ghost:hover {
  color: #0084a6;
  border-color: #005e76;
  background-color: #8bc9d9;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  color: #8bc9d9;
}

nav a {
  border-bottom: .1rem solid #8bc9d9;
}

nav a:hover {
  color: #0084a6;
  border-bottom-color: #0084a6;
}

footer {
  color: #e2e2e2;
}

hr {
  color: #e2e2e2;
  border-width: thin;
}

#000
#e2e2e2
#8bc9d9
#0084a6
#005e76

@media only screen and (min-width: 60em) {

}
